<nav class="navbar navbar-dark bg-danger sticky-top">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="#">Random United!</a>
    <button class="btn btn-outline-light" (click)="openAboutModal(about)">About</button>
  </div>
</nav>
<div class="container pt-3 pb-4 pb-md-0">
  <div *ngIf="chosenVillain" class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-5 col-lg-3">
      <div class="card bg-dark text-white mb-3">
        <div class="card-header text-center p-1">Villain</div>
        <div class="card-body text-center p-2">
          <h5 class="card-title m-0">{{ chosenVillain.name }}</h5>
          <h6 *ngIf="chosenVillain.subtitle" class="mb-0">{{ chosenVillain.subtitle }}</h6>
          <h6 *ngIf="!chosenVillain.subtitle" class="mb-0">&nbsp;</h6>
        </div>
        <div class="card-footer d-flex justify-content-center p-1">
          <button class="btn btn-outline-light btn-sm" (click)="reRollVillain()">Reroll</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3" *ngIf="chosenHeroes && chosenVillain">
    <div class="col-12 text-center">
      <h2 class="text-danger font-italic font-weight-bold m-0">VS.</h2>
    </div>
  </div>

  <div *ngIf="chosenHeroes" class="row justify-content-center mb-5 mb-md-4">
    <div class="col-12 col-sm-6 col-md-5 col-lg-3" *ngFor="let hero of chosenHeroes; let index = index">
      <div class="card text-white mb-3" [ngClass]="{ 'bg-success': index === 0, 'bg-danger': index === 1, 'bg-warning': index === 2, 'bg-info': index === 3}">
        <div class="card-header text-center p-1">Player {{index + 1}}</div>
        <div class="card-body text-center p-2">
          <h5 class="card-title m-0">{{ hero.name }}</h5>
          <h6 *ngIf="hero.subtitle" class="mb-0">{{ hero.subtitle }}</h6>
          <h6 *ngIf="!hero.subtitle" class="mb-0">&nbsp;</h6>
        </div>
        <div class="card-footer d-flex justify-content-center p-1">
          <button type="button" class="btn btn-outline-light btn-sm" (click)="reRollHero(index)">Reroll</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center d-none d-md-flex">
    <button type="button" class="btn btn-outline-dark btn-lg mr-3" (click)="openFilterModal(filter)">Filter</button>
    <button type="button" class="btn btn-primary btn-lg" (click)="generateAvailableLists()">Reroll</button>
  </div>
</div>

<div class="container-fluid justify-content-center position-fixed fixed-bottom d-flex d-md-none p-1 bg-secondary">
  <button type="button" class="btn btn-outline-light btn-lg mr-3" (click)="openFilterModal(filter)">Filter</button>
  <button type="button" class="btn btn-primary btn-lg" (click)="generateAvailableLists()">Reroll</button>
</div>

<ng-template #filter let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Filter</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" id="ksExclusives" [checked]="filterIncludeKsExclusive" (change)="changeIncludeKSExclusives($event.target.checked)" />
      <label class="form-check-label" for="ksExclusives"><b>Include Kickstarter (KS) exclusives</b></label>
    </div>

    <div>
      <h5>Games:</h5>
    </div>
    <div *ngFor="let game of filterGameData" class="mb-3">
      <div class="row">
        <div class="col-12">
          <div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" [id]="game.name.toLowerCase().replace(' ', '_')" [checked]="game.addAll" (change)="game.addAll = $event.target.checked" />
              <label class="form-check-label" [for]="game.name.toLowerCase().replace(' ', '_')"><b>{{ game.name }}</b></label>
            </div>

            <div class="pl-3">
              <!-- Base game -->
              <div class="form-check">
                <input type="checkbox" class="form-check-input" [id]="game.name.toLowerCase().replace(' ', '_') + '_base_game'" [checked]="game.addBaseGame" (change)="game.addBaseGame = $event.target.checked" [disabled]="!game.addAll" />
                <label class="form-check-label" [for]="game.name.toLowerCase().replace(' ', '_') + '_base_game'">Base game</label>
              </div>

              <!-- Promo Box -->
              <div class="form-check" *ngIf="game.promoHeroes.length > 0 || game.promoVillains.length > 0 || game.promoAntiHeroes.length > 0">
                <input type="checkbox" class="form-check-input" [id]="game.name.toLowerCase().replace(' ', '_') + '_promos'" [checked]="game.addPromos" (change)="game.addPromos = $event.target.checked" [disabled]="!game.addAll || !filterIncludeKsExclusive" />
                <label class="form-check-label" [for]="game.name.toLowerCase().replace(' ', '_') + '_promos'">Kickstarter Promo box</label>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div *ngIf="game.expansions.length > 0">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" [id]="game.name.toLowerCase().replace(' ', '_') + '_expansions'" [checked]="game.addAllExpansions" (change)="game.addAllExpansions = $event.target.checked" [disabled]="!game.addAll" />
                <label class="form-check-label" [for]="game.name.toLowerCase().replace(' ', '_') + '_expansions'"><b>Expansions:</b></label>
              </div>

              <!-- Expansions -->
              <div class="pl-3">
                <div *ngFor="let expansion of game.expansions" class="form-check">
                  <input type="checkbox" class="form-check-input" [id]="expansion.name.toLowerCase().replace(' ', '_')" [checked]="expansion.addExpansion" (change)="expansion.addExpansion = $event.target.checked" [disabled]="!game.addAllExpansions || !game.addAll || (expansion.ksExclusive && !filterIncludeKsExclusive)" />
                  <label class="form-check-label" [for]="expansion.name.toLowerCase().replace(' ', '_')">{{ expansion.name }} {{ expansion.ksExclusive ? '(KS)' : '' }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('reroll')">Apply</button>
  </div>
</ng-template>

<ng-template #about let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="about-title">About</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <span class="h5">About:</span>
      <p>
        Random United is a randomizer for the Marvel United games.
        It can be hard to choose a hero and villain when you have so many to choose from.
        With this randomizer you don't have to make that choice!
      </p>
    </div>
    <!--<div>-->
      <!--<span class="h5">Donate:</span>-->
      <!--<p>-->
        <!--If you want to support the creator or help with covering the server costs, you can donate some bitcoin on the address below!<br/>-->
        <!--Every satoshi helps! Thanks!-->
      <!--</p>-->
      <!--<div class="d-flex justify-content-center">-->
        <!--<img src="/assets/qrcode.jpg" width="150px"/>-->
      <!--</div>-->
      <!--<p class="font-weight-bold text-center">1MuWbMn85YRfyd67dqjfqW3yFffZwJvaPV</p>-->
    <!--</div>-->
    <div>
      <span class="h5">Contribute:</span>
      <p>
        If you want to contribute to the project by making some changes or add a feature you can always send me a pull request.
        Fork the github repo and do your thing!
        You can also use the code for other projects, but make sure to give me a shout out.
      </p>
    </div>
    <div>
      <span class="h5">Contact:</span>
      <p>
        You can contact me for questions, feedback and requests:<br/>
        <a href="mailto:dhkkuiken+random@gmail.com">Mail me</a>
      </p>
    </div>
  </div>
</ng-template>
